In [ ]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [3]:
a = "gae pi gon WHAT the hell"
a.capitalize()
a.title()
a.upper()

'GAE PI GON WHAT THE HELL'

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [4]:
a.swapcase()

'GAE PI GON what THE HELL'

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [6]:
a = "hell"
a.join(a)

'hhellehelllhelll'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [7]:
'wow'.replace('o','k')

'wkw'

In [8]:
'wowo'.replace('o','k')

'wkwk'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [9]:
"                        oh! ssang".strip()

'oh! ssang'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [10]:
'apple'.find('p')

1

In [11]:
'apple'.find('q')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [12]:
'apple'.index('p')

1

In [13]:
'apple'.index('q')

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [15]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [16]:
'aaaaaaaa'.split('a')

['', '', '', '', '', '', '', '', '']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [18]:
coffee = ['starbucks','hollis', '11st']
coffee.append('tomy')

print(coffee)

['starbucks', 'hollis', '11st', 'tomy']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [19]:
# 여러개 붙일 수 있나봐

coffee1 = ['starbucks','hollis', '11st']
coffee1.extend(['tomy','home','mom'])

print(coffee1)

['starbucks', 'hollis', '11st', 'tomy', 'home', 'mom']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [21]:
coffee = ['starbucks','hollis', '11st']
coffee.insert(2,'tomy22')

print(coffee)

['starbucks', 'hollis', 'tomy22', '11st']

In [23]:
#맨 뒤에 붙여주기

coffee = ['starbucks','hollis', '11st']
coffee.insert(len(coffee),'tomy22')

print(coffee)

['starbucks', 'hollis', '11st', 'tomy22']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [24]:
# remove는 앞에꺼 부터 지워준다
coffee = ['starbucks','hollis', '11st']
coffee.remove('11st')

print(coffee)

['starbucks', 'hollis']

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [27]:
coffee = ['starbucks','hollis', '11st']
a = coffee.pop()
print(a)
print(coffee)

11st
['starbucks', 'hollis']

In [28]:
a = coffee.pop(1)
print(a)
print(coffee)

hollis
['starbucks']

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [31]:
coffee = ['starbucks','hollis', '11st','11st']
coffee.index('11st')

2

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [32]:
coffee = ['starbucks','hollis', '11st','11st']
coffee.count('11st')

2

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [34]:
import random
lotto = random.sample(range(1,46),6)
print(lotto)
lotto.sort() # 정렬
print(lotto)

[34, 39, 8, 28, 44, 27]
[8, 27, 28, 34, 39, 44]

In [36]:
lotto.sort(reverse = True) # 거꾸로 정렬
print(lotto)

[44, 39, 34, 28, 27, 8]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [39]:
lotto.reverse()
print(lotto)

[44, 39, 34, 28, 27, 8]

## 복사

In [44]:
# 리스트 복사를 해봅시다.
a = [1,2,3,4,5]
copy_a = a
print(copy_a)

[1, 2, 3, 4, 5]

In [51]:
# b의 값을 바꾸고 a를 출력해봅시다.
a = [1,2,3,4,5]
copy_a = a[:] # copy 내용을 복사
print(copy_a)

copy_a[0] = 5
print(a)
print(id(a), id(copy_a))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1871289951368 1871291429192

In [ ]:
# 실제로 같은지 확인해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [54]:
# 딕셔너리도 확인해봅시다.

asd = {'a' : 'aa', 'b':'bb'}
print(asd)
asdf = asd
asdf['a'] = 'aaa'
print(asdf)
print(asd)

{'a': 'aa', 'b': 'bb'}
{'a': 'aaa', 'b': 'bb'}
{'a': 'aaa', 'b': 'bb'}

In [56]:
asd = {'a' : 'aa', 'b':'bb'}

import copy
asdf = copy.deepcopy(asd)
asdf['a'] = 'aaa'
print(asdf)
print(asd)

{'a': 'aaa', 'b': 'bb'}
{'a': 'aa', 'b': 'bb'}

In [ ]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# 복사 예시

In [ ]:
# 복사 예시2

In [ ]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [58]:
# 얕은 복사 예시
a = [ 1,2, [1,2]]
b=a[:]
b[1] = 3
print(a) # 여기까지는 바뀌지 않는데

b[2][0] = 3 # 이 경우에는 바뀐다
print(a)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

In [60]:
# deepcopy를 쓰면 list안에 있는 list도 보호가 된다.

import copy
a = [ 1,2, [1,2]]
b = copy.deepcopy(a)

b[2][0] = 3
print(b)
print(a)

[1, 2, [3, 2]]
[1, 2, [1, 2]]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [ ]:
# 깊은 복사 예시

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [63]:
num = list(range(6))
print(num)

num.clear()

print(num)

[0, 1, 2, 3, 4, 5]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [66]:
even_list = [x * 2 for x in range(1,6)]

print(even_list)

cubic_list

[2, 4, 6, 8, 10]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [67]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = []

for g in girls:
    for b in boys:
        pair.append((b,g))
        
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [69]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

pair[(x,y) for x in girls for y in boys]
print(pair)

SyntaxError: invalid syntax (<ipython-input-69-95962ecb29f7>, line 3)

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [70]:
result=[]

for x in range(1,50):
    for y in range(x,50):
        for z in range(y,50):
            if x**2 + y **2 == z **2:
                result.append((x,y,x))
                
print(result)

[(3, 4, 3), (5, 12, 5), (6, 8, 6), (7, 24, 7), (8, 15, 8), (9, 12, 9), (9, 40, 9), (10, 24, 10), (12, 16, 12), (12, 35, 12), (15, 20, 15), (15, 36, 15), (16, 30, 16), (18, 24, 18), (20, 21, 20), (21, 28, 21), (24, 32, 24), (27, 36, 27)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [75]:
words = 'Life is too long, so you need have a cofidence!'
vowel = 'aeiou'
result = [x for x in words if x not in vowel]
print(''.join(result))

Lf s t lng, s y nd hv  cfdnc!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [76]:
my_d = { 'aaaa':'아아아아', 'bbbb' : '비비비비'}

a = my_d.pop('aaaa')
print(a)
print(my_d)

아아아아
{'bbbb': '비비비비'}

In [78]:
#찾고자 하는 값이 없을때면 원래는 error 지만,,

my_d = { 'aaaa':'아아아아', 'bbbb' : '비비비비'}

a = my_d.pop('cccc',7) # 7이 나온다!
print(a)
print(my_d)

7
{'aaaa': '아아아아', 'bbbb': '비비비비'}

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [80]:
my_d = { 'aaaa':'아아아아', 'bbbb' : '비비비비'}
my_d.update('aaaa' = 아바바바)

print(a)
print(my_d)

SyntaxError: keyword can't be an expression (<ipython-input-80-4df1b2d16fc3>, line 2)

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [82]:
my_d = {'aaaa':'아아아아', 'bbbb' : '비비비비'}
my_d = ['aaaa']

my_d.get('aaaa',0)

AttributeError: 'list' object has no attribute 'get'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [84]:
a = {1,2,3,4,5}
a.add(5) # 중복은 추가가 안되
print(a)
a.add(6)
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

### `update(*others)`

여러가지의 값을 순차적으로 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [85]:
a = {1,2,3,4,5}
a.update({5,5,5,2}, {7,9}) #하나만 넣을 때는 add, 많은 걸 넣으면 update
print(a)

{1, 2, 3, 4, 5, 7, 9}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [88]:
# 에러를 확인해봅시다.
a.remove(5)
print(a)

{1, 2, 3, 4, 9}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [89]:
a.discard(7)

In [ ]:
a.pop()
print(a)

### `pop()`

임의의 원소를 제거해 반환합니다.